.contact-container{
    margin: 50px 50px 200px 50px;
}

.contact-container .title{
    font-size: 24px;
    color: #4B5563;
    text-align: center;
    margin-bottom: 70px;
}

.contact-container span{
    font-weight: 700;
    color: black;
}

.contact-info img{
    width: 360px;
    margin-right: 30px;
    border-radius: 5px;
}

.contact-info{
    display: flex;
    justify-content: center;
}

.contact-info .text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 0;
}

.contact-info p{
    color: #858c97;
    font-size: 14px;
    line-height: 1.6;
}

.contact-info b{
    color: #4B5563;
}

.contact-info button{
    padding: 10px;
    width: 100px;
    color: #4B5563;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-info button:hover{
    background-color: black;
    color: white;
}
